beautifulsoup4==4.14.3
certifi==2026.5.20
charset-normalizer==3.4.7
contourpy==1.1.1
cycler==0.12.1
et_xmlfile==2.0.0
fonttools==4.57.0
idna==3.15
importlib_resources==6.4.5
jieba==0.42.1
kiwisolver==1.4.7
matplotlib==3.7.5
numpy==1.24.4
openpyxl==3.1.5
packaging==25.0
pandas==2.0.3
patsy==1.0.1
pillow==10.4.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
scipy==1.10.1
six==1.17.0
soupsieve==2.7
statsmodels==0.14.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.2.3
wordcloud==1.9.4
zipp==3.20.2
